@{
    ViewBag.Title = "Usage";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">
        <ul>
            <li>@Html.ActionLink("Background", "Background", "Configuration")
            <ul>
            </ul>
            <li>@Html.ActionLink("Prerequisites", "Prerequisites", "Configuration")
                <ul>
                    <li>@Html.ActionLink("Prerquisites:CodeBase ", "PrerequisitesCodeBase", "Configuration")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Configure Azure", "ConfigureAzureIntegration", "Configuration")
                <ul>

                    <li>@Html.ActionLink("Configure Azure Application Insights Integration", "ConfigureAzureApplicationInsightsIntegration", "Configuration")</li>
                    <li>@Html.ActionLink("Configure Azure Storage Integration", "ConfigureAzureStorageIntegration", "Configuration")</li>
                    <li>@Html.ActionLink("Configure Azure Sql Database Integration", "ConfigureAzureSqlDatabaseIntegration", "Configuration")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Configure OIDC Integration", "ConfigureOIDCIntegration", "Configuration")
                <ul>
                
                    <li>@Html.ActionLink("Configure B2C Integration", "ConfigureOIDCAADIntegration", "Configuration")</li>
                    <li>@Html.ActionLink("Configure AAD Integration", "ConfigureOIDCAADIntegration", "Configuration")</li>
                </ul>
            </li>
       </ul>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Read how this base solution was put together in order to understand how to build on top of it, saving time and expense.
        </p>
        <p><a class="btn btn-default" href="http://skysigal.com/it/ad/asp.net/webapi/howto/configure/new_app/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get the code</h2>
        <p>The source code of this solution is available for free.</p>
        <p><a class="btn btn-default" href="https://bitbucket.org/skysigal/app.core.application-on-mvc-webapi-net-framework">Learn more &raquo;</a></p>
    </div>
</div>