@{
    ViewBag.Title = "Usage";
    ViewBag.Subtitle = "API call Examples";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h3>@ViewBag.Subtitle</h3>
    
    This is an API First Service, so basically everything is available via API calls.
    
    Of course, what you get back depends on your Permissions (determined by your Roles)

    <p class="lead">
        <ul>
            <li>@Html.ActionLink("Configuration", "Configuration", "Usage")</li>
            <li>@Html.ActionLink("Exceptions", "Exception", "Usage")</li>
            <li>@Html.ActionLink("Data Classifications", "DataClassification", "Usage")</li>
            <li>@Html.ActionLink("Tenant", "Tenant", "Usage")</li>
            <li>@Html.ActionLink("Principals", "Principal", "Usage")</li>
            <li>@Html.ActionLink("Roles", "Role", "Usage")</li>
            <li>@Html.ActionLink("Sessions", "Session", "Usage")</li>
            <li>@Html.ActionLink("Session Operations", "SessionOperation", "Usage")</li>
            <li>@Html.ActionLink("Notifications", "Notification", "Usage")</li>
            <li>@Html.ActionLink("Uploaded Media", "MediaMetadata", "Usage")</li>
       </ul>
    </p>
</div>

