@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Enterprise App Stack Scaffolding</h1>
    <p class="lead">
        <a hre>The @Html.ActionLink("Purpose", "Purpose", "About") is to provide a base for building secure enterprise grade applications with the following characteristics:
        <ul>
            <li>@Html.ActionLink("Security", "Security", "About")
                <ul>
                    <li>@Html.ActionLink("OIDC", "OIDC", "About") authentication/authorisation ready</li>
                </ul>
            </li>
            <li>
                @Html.ActionLink("API First", "APIFirst", "About")
                <ul>
                    <li>Self Documenting APIs using OpenAPI Standard (OAS) via <a href="swagger">Swagger</a>.</li>
                    <li>@Html.ActionLink("Versioned", "Versioning", "About") accessible and maintainable API endpoints using DTOs.</li>
                    <li>@Html.ActionLink("ODATA", "OData", "About") enhanced REST API endpoints.</li>
                </ul>
            </li>
            <li>
                Strong Security:
                <ul>
                    <li>Enforced Secure communication channel and cookie handling (over SSL)</li>
                </ul>
            </li>
            <li>
                Strong Design Patterns:
                <ul>
                    <li>Open Source Framework and Libraries</li>
                    <li>@Html.ActionLink("DDD Based Design", "Design", "About") at the Component level, for Maintainable and ADaptabible  
                    </li>
                    <li>SOLID development practices
                        <ul>
                            <li>Dependency Injection using StructureMap</li>
                        </ul>
                    </li>
                    <li>Automapper used to map between Logical Models and API Messsages</li>
                </ul>
            </li>
            <li>Logic and Functionality enforced using both Static and Dynamic Behaviour Driven Development (BDD) Test Contracts</li>
        </ul>
    </p>
    <p>
        <a href="http://skysigal.com/it/ad/asp.net/webapi/howto/configure/new_app/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Read how this base solution was put together in order to understand how to build on top of it, saving time and expense.
        </p>
        <p>
            <a class="btn btn-default" href="http://skysigal.com/it/ad/asp.net/webapi/howto/configure/new_app/">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get the code</h2>
        <p>The source code of this solution is available for free.</p>
        <p>
            <a class="btn btn-default" href="https://bitbucket.org/skysigal/app.core.application-on-mvc-webapi-net-framework">Learn more &raquo;</a>
        </p>
    </div>
</div>